.line {
    border: 1px solid black;
}


.font-style {
    font-family: 'Inter', sans-serif;
}

.body {
    /* width: 95%; */
    margin-left: auto;
    margin-right: auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    /* padding: 0 50px 100px 50px;
    margin-bottom: 50px; */

}

/* .ul{
    display: flex;
} */
.items {
    display: flex;
    gap: 80px;
    align-items: center;
}

.items a {
    text-decoration: none;
    color: black;
}

.btn {
    color: white;
    background-color: rgba(255, 255, 0, 0.753);
    padding: 12px 30px;
    border: none;
    border-radius: 5px;
    margin-top: -20px;
}

.title {
    font-size: 30px;
    margin-top: -10px;
}

.banner {
    background-image: url('./images/1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 40px 50px; */
    /* text-align: center; */
}

.nav button {
    color: black;
}

.title-div {
    text-align: center;
}

.title-div p {
    font-size: 18px;
    font-weight: 700;
}

.title-div h1 {
    font-size: 60px;
    font-weight: 700;
}

.about-me-title {
    text-align: center;
}

.about-me-title h2 {
    font-weight: 600;
}

.who-am-i {
    margin-top: -10px;
    font-size: 18px;
    font-weight: 400;
}

.about-me {
    display: flex;
    padding: 10px 90px;
    gap: 100px;
}

.my-img-div {
    width: 35%;
    height: 380px;
}

.my-img-div img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.lorem-div {
    width: 60%;
}

.lorem-div p {
    font-size: 20px;
}

.lorem-div p {
    font-weight: 400;
}

.down-btn {
    margin-top: 40px;
    background-color: #E3CE0D;
}

.aboutMe-section {
    margin-top: 40px;
    margin-bottom: 40px;
}

.services {
    font-size: 30px;
    font-weight: 700;
}

.aboutMe-p {
    font-size: 18px;
    margin-top: -10px;
    font-weight: 300;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 120px;
    margin-top: 50px;
}

.card {
    width: 280px;
    height: 350px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    overflow: hidden;

}

.card-one img {
    width: 120%;
    height: 85%;
}

.card-two img {
    width: 110%;
    height: 88%;
    margin-top: -20px;
}

.card-three img {
    width: 150%;
    height: 80%;
}

.card button {
    padding: 8px 60px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    background-color: #E3CE0D;
}

.border {
    border: 1px solid gray;
}

.gaming {
    margin: 100px auto 0;
    width: 75%;
    display: flex;
    justify-content: center;
    gap: 25px;
}

.gaming-description {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: end;
}

.gaming-heading {
    margin-bottom: 15px;
}

.gaming-img {
    width: 50%;

}

.gaming-img-main-div img {
    width: 85%;
}

.mini-img img {
    position: absolute;
    width: 220px;
    margin-top: -200px;
    margin-left: -100px;

}

/* extra game section */

.extra-game {
    margin-top: 100px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    padding: 80px 0;
}

.games-parent-div {
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

}

.game {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: white;
    border-radius: 50px;
    padding: 3px 5px;
    /* border: transparent #ff4245; */
    border: 2px solid white;
}

.game img {
    width: 45px;
}

.game:hover {

    border: 2px solid #ff4245;
    /* border-radius: 50px;
    background: #FFF;
    padding: 3px 5px; */

}

.game:hover .extra-game-name {
    color: #ff42A5;
}


/* footer section */

footer {
    background-color: #0B0223;

}

.footer-main-div {
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 80px 0;
}

.line-break {
    display: none;
}

.footer-description {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 5px;
    margin: 35px 0;

}

.footer-description>p {
    color: white;
}


.footer-icon {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 30px;
    margin: 25px 0;
}

.footer-pribacy {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 30px 0 28px;
    text-align: center;
}

.footer-pribacy>p,
.footer-last-p {
    color: rgba(255, 255, 255, 0.60);

}


.icon-btn {
    background-color: #0B0223;
    border: 1px solid rgba(230, 214, 214, .30);
    padding: 12px 17px;
    border-radius: 10px;
}




/* responsive of small device */

@media screen and (max-width: 576px) {

    /* nav */
    nav {
        flex-direction: column;
        height: 100%;
        padding: 30px 0 20px;
    }

    .nav-menu {
        flex-direction: column;
        margin-top: 20px;
    }

    /* banneer */
    .banner {
        flex-direction: column;
        flex-direction: column-reverse;
        text-align: center;
    }

    .banner-description {
        width: 100%;
        padding: 50px 0;
    }

    .banner-img {
        width: 100%;
    }

    /* videos section */
    .videos-container {
        width: 80%;
    }

    .videos {
        flex-direction: column;
    }

    .video {
        margin-bottom: 15px;
    }

    figcaption {
        margin-top: 15px;
    }

    .description {
        font-size: 12px;
    }

    /* gaming sectioin */

    .gaming {
        flex-direction: column;
    }

    .gaming-description {
        text-align: center;
        width: 100%;
    }

    .gaming-img {
        width: 100%;
    }

    .gaming-img-main-div img {
        width: 70%;
        margin-left: 45px;
    }

    .mini-img img {
        position: absolute;
        width: 130px;
        margin-top: -110px;
        margin-left: -10px;
    }

    /* extra-game section */

    .game img {
        width: 20px;
    }

    .game {
        width: 130px;
        margin-top: 15px;
        padding: 8px 0;
    }

    .games-parent-div {
        width: 100%;
        gap: 5px;
    }

    .extra-game-name {
        font-size: 10px;
    }

    /* footer sectioin */

    .footer-description,
    .footer-icon {
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
    }

    .footer-pribacy {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-last-p {
        text-align: center;
    }

    .line-break {
        display: block;
    }
}


/* mediamn device responsive */

@media screen and (min-width:577px) and (max-width:992px) {

    /* nav */
    nav {
        flex-direction: column;
        padding: 30px 0;
    }

    .nav-menu {
        margin-top: 20px;
    }

    /* banner */
    .banner {
        flex-direction: column;
    }

    .banner-description {
        width: 100%;
        padding: 40px 0;
    }

    .banner-img {
        width: 100%;
        text-align: center;
    }

    /* videos section */

    .videos {
        flex-wrap: wrap;
    }

    .video {
        width: 40%;
    }

    /* gamming section */
    .gaming {
        flex-direction: column;
    }

    .gaming-description {
        width: 100%;
    }

    .gaming-img {
        width: 100%;
    }
}